<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <h3>{{ menu|join:' | '}}</h3>
    <h1>{{ title }}</h1>
    <br>
    <ul>
        {% for p in posts %}
        {% if p.is_published %}
        <li>
            <h2>{{ p.title }}</h2>
            <p>{{ p.content }}</p>
            {% if not forloop.last %}
            <hr>
            {% endif %}
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</body>
</html>
